/* App 组件样式 */
.layout {
  min-height: 100vh;
}

.header {
  background: #001529;
  padding: 0;
  color: white;
}

.content {
  padding: 50px;
}

/* BookInput 组件样式 */
.book-input {
  margin-bottom: 20px;
}

.book-input .ant-form-item {
  margin-right: 20px;
}

/* BookList 组件样式 */
.book-list {
  margin-top: 20px;
}

/* BookDetail 组件样式 */
.book-detail {
  margin-top: 20px;
}

.card-btn {
  margin-top: 10px;
}
